<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Estacionamento</h1>
    </header>
    <nav>
        <a href="cadastroReservas.html">Cadastrar Reserva</a>
        <a href="listaVagas.html">Lista de Vagas</a>
        <a href="vagasDisponíiveis.html">Vagas Disponíveis</a>
    </nav>
    <form id="cadastroReserva" action="">
        <h2>Cadastrar Reserva</h2>
        <label for="placa">Placa do Veículo:</label>
        <input type="text" name="placa" id="placa" required>
    
        <label for="nomeProprietario">Nome do Proprietário:</label>
        <input type="text" name="nomeProprietario" id="nomeProprietario" required>
    
        <label for="numeroApartamento">Número do Apartamento:</label>
        <input type="text" name="numeroApartamento" id="numeroApartamento" required>
    
        <label for="blocoApartamento">Bloco do Apartamento:</label>
        <input type="text" name="blocoApartamento" id="blocoApartamento" required>
    
        <label for="modeloVeiculo">Modelo do Veículo:</label>
        <input type="text" name="modeloVeiculo" id="modeloVeiculo" required>
    
        <label for="corVeiculo">Cor do Veículo:</label>
        <input type="text" name="corVeiculo" id="corVeiculo" required>
    
        <label for="numeroVaga">Número da Vaga:</label>
        <input type="text" name="numeroVaga" id="numeroVaga" required>
    
        <button type="submit">Salvar</button>
    </form>
</body>
</html>