/* Estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilo do cabeçalho e navegação */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo do conteúdo principal */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/* Estilo do formulário de cadastro */
form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* Estilos para o botão de desocupar */
.desocupar-button {
    float: right; /* Faz com que o botão fique à direita */
    background-color: #e74c3c; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Cantos arredondados */
    padding: 8px 16px; /* Preenchimento interno */
    cursor: pointer; /* Ícone de cursor de mão ao passar o mouse */
    margin-left: 5px; /* Espaçamento à esquerda para separá-lo dos outros elementos */
}

.desocupar-button:hover {
    background-color: #c0392b; /* Cor de fundo quando o mouse passa por cima */
}

/* Estilo das informações na lista de reservas */
.reserva-info {
    float: left; /* Faz com que as informações fiquem à esquerda */
    margin-right: 10px; /* Adiciona um espaço à direita das informações */
}

/* Estilo da lista de reservas */
ul#reservasList {
    list-style: none;
    padding: 0;
    margin: 20px;
}

ul#reservasList li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo da lista de vagas */
ul#vagasList {
    list-style: none;
    padding: 0;
    margin: 20px;
}

ul#vagasList li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo das lista de reservas */
#listagemReservas {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo das vagas disponíveis */
#vagasDisponiveis {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}